extends layout

block content
  h1= title
  h2#maintitle Where shall we go today?
  p
   | If I could, I would spend all my time on  
   a(href="http://expedia.com") Travel Sites 
   | and book flights on someone else's dime.
   
   div
    ul
     each val, index in places
      li
       a(href=val.url)= val.name
   
   div
    if hasPlaces
     a(href="/") Home
   
  
  
